RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d

RewriteRule ^ index.php [L]

RewriteRule ^([^/]+)/?$ index.php?controller=$1 [L,QSA]

RewriteRule ^([^/]+)/([^/]+)/?$ index.php?controller=$1&method=$2 [L,QSA]

RewriteRule ^([^/]+)/([^/]+)/([0-9]+)/?$ index.php?controller=$1&method=$2&id=$3 [L,QSA]

RewriteRule ^([^/]+)/([0-9]+)/?$ index.php?controller=$1&id=$2 [L,QSA]

RewriteRule . /index.php [L]